# UI and API
streamlit
requests
pandas
Flask
Flask-Cors
gunicorn

# LangChain and AI Core
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma  
chromadb          

# Data Loaders and Parsers
PyMuPDF
newspaper3k
lxml[html_clean]  
newsapi-python

# Utilities
python-dotenv     
matplotlib        